select,label {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        padding: 10px 12px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 6px #1a1919a1;

        &:focus {
            outline: none;
        }
    }
    .color {
        width: 100%;
        padding: 0;
        cursor: pointer;
    }
}

.error {
    color: red;
    font-size: 11px;
    display: flex;
    width: 100%;
}

.gender {
    display: flex;
    width: 100%;

    .gender-group {
        display: flex;
        justify-content: space-between;

        .gender-input {
            label {
                display: flex;
                flex-direction: row-reverse;
            }

            input {
                box-shadow: none;
                cursor: pointer;
            }
        }
    }
}